<div class="row">
  <div class="col-12">
    <div class="card m-b-30">
      <div class="card-body">
        <% if @entity.errors.any? %>
          <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div id="error_explanation">
              <h2><%= pluralize(@entity.errors.count, "erros") %>
                não permitiram salvar:</h2>
              <ul>
                <% @entity.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <%= form_for([:admin, @entity]) do |f| %>
          <div class="form-group">
            <%= f.label :number_edition %><br>
            <%= f.number_field :number_edition, class: "form-control number_edition", disabled: @entity.persisted? && current_user.super_user == false %>
          </div>

          <div class="form-group">
            <%= f.label :cnpj %><br>
            <%= f.text_field :cnpj, class: "form-control cnpj" %>
          </div>
          <div class="form-group">
            <%= f.label :phone %><br>
            <%= f.text_field :phone, class: "form-control tel" %>
          </div>
          <div class="form-group">
            <%= f.label :type_entity %><br>
            <%= f.collection_select :type_entity_id, TypeEntity.all, :id, :name, { prompt: "Escolha um tipo" }, { class: "custom-select" } %>
          </div>
          <div class="form-group">
            <%= f.label :user %><br>
            <%= f.collection_select :user_id, User.all, :id, :name, { prompt: "Escolha um gestor" }, { class: "custom-select" } %>
          </div>
          <div class="form-group">
            <%= f.label :name_entity %><br>
            <%= f.text_field :name_entity, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :cep %><br>
            <%= f.text_field :cep, class: "form-control cep", id: "cep" %>
          </div>
          <div class="form-group">
            <%= f.label :city %><br>
            <%= f.text_field :city, class: "form-control", id: "city" %>
          </div>
          <div class="form-group">
            <%= f.label :uf %><br>
            <%= f.text_field :uf, class: "form-control", id: "uf" %>
          </div>
          <div class="form-group">
            <%= f.label :street %><br>
            <%= f.text_field :street, class: "form-control", id: "street" %>
          </div>
          <div class="form-group">
            <%= f.label :number_address %><br>
            <%= f.text_field :number_address, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :complement %><br>
            <%= f.text_field :complement, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :law %><br>
            <%= f.text_field :law, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :name_diary %><br>
            <%= f.text_field :name_diary, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :logo %><br>
            <%= f.file_field :logo %><br>
            <br>
            <% if @entity.logo.present? %>
              <div class="" id="entity-logo">
                <%= image_tag @entity.logo.url, class: "img-thumbnail", alt: "Logo", style: "width: 200px; height: 200px;" %>
                <button type="button" class="btn btn-danger waves-effect waves-light" onclick="deleteImage('entity-logo', <%= @entity.id %>)">
                  <i class="ti-trash" title="deletar"></i>
                </button>
              </div>
            <% end %>
          </div>
          <div class="form-group" id="text_area_field">
            <%= f.label :diary_content, "Conteúdo do diário" %><br>
            <%= f.text_area :diary_content, class: "summernote form-control", rows: 10, cols: 50 %>
          </div>
          <div class="field">
            <%= f.label :status %><br>
            <%= f.check_box :status %>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary waves-effect waves-light">
              Salvar
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
