<div class="page-content-wrapper ">
  <div class="container-fluid">
    <div class="row d-print-none">
      <div class="col-sm-12">
        <h5 class="page-title">Detalhes</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card m-b-30">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="invoice-title"></div>
                <div class="row">
                  <div class="col-6">
                    <address>
                      <strong><%= t('activerecord.attributes.entity.cnpj') %>:</strong><br>
                      <%= @entity.cnpj %><br>
                      <strong><%= t('activerecord.attributes.entity.phone') %>:</strong><br>
                      <%= @entity.phone %><br>
                      <strong><%= t('activerecord.attributes.entity.type_entity') %>:</strong><br>
                      <%= @entity.type_entity.name %><br>
                      <strong><%= t('activerecord.attributes.entity.user') %>:</strong><br>
                      <%= @entity.user.name %><br>
                      <strong><%= t('activerecord.attributes.entity.name_entity') %>:</strong><br>
                      <%= @entity.name_entity %><br>
                      <strong><%= t('activerecord.attributes.entity.uf') %>:</strong><br>
                      <%= @entity.uf %><br>
                      <strong><%= t('activerecord.attributes.entity.city') %>:</strong><br>
                      <%= @entity.city %><br>
                      <strong><%= t('activerecord.attributes.entity.cep') %>:</strong><br>
                      <%= @entity.cep %><br>
                      <strong><%= t('activerecord.attributes.entity.street') %>:</strong><br>
                      <%= @entity.street %><br>
                      <strong><%= t('activerecord.attributes.entity.number_address') %>:</strong><br>
                      <%= @entity.number_address %><br>
                      <strong><%= t('activerecord.attributes.entity.complement') %>:</strong><br>
                      <%= @entity.complement %><br>
                      <strong><%= t('activerecord.attributes.entity.law') %>:</strong><br>
                      <%= @entity.law %><br>
                      <strong><%= t('activerecord.attributes.entity.name_diary') %>:</strong><br>
                      <%= @entity.name_diary %><br>
                      <strong><%= t('activerecord.attributes.entity.status') %>:</strong><br>
                      <%= boolean_format(@entity.status) %><br>
                    </address>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-print-none mo-mt-2">
              <div class="float-right">
                <%= link_to 'Editar', edit_admin_entity_path(@entity), class: 'btn btn-success waves-effect waves-light' %>
                <%= link_to 'Voltar', admin_entitys_path, class: 'btn btn-primary waves-effect waves-light' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
