<%= render '/admin/shared/modal_delete' %>
<div class="row">
  <div class="col-lg-12">
    <div class="card m-b-30">
      <div class="card-body">
        <h4 class="mt-0 header-title"><%= t('activerecord.models.office', count: 2) %></h4>
        <%= render '/admin/shared/search' %> <!-- Campo de busca adicionado aqui -->
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th>Id</th>
                <th><%= t('activerecord.attributes.office.name') %></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @offices.each do |office| %>
                <tr>
                  <td><%= office.id %></td>
                  <td><%= office.name %></td>
                  <td>
                    <%= link_to [:admin, office], class: 'btn btn-success', title: 'Mostrar detalhes' do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_admin_office_path(office), class: 'btn btn-primary', title: 'Editar' do %>
                      <i class="dripicons-document-edit"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= button_to [:admin, office], method: :delete, class: 'btn btn-danger delete-button', formaction: admin_office_path(office), id: "deleteButton-#{office.id}", title: 'Deletar' do %>
                      <i class="dripicons-document-delete"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <br>
        <%= link_to new_admin_office_path, class: 'btn btn-info' do %>
          <i class="typcn typcn-document-add"></i> Adicionar
        <% end %>
        <!-- Paginação -->
        <div class="d-flex justify-content-center">
          <%= paginate @offices, theme: :admin, paginator: 'kaminari/admin/paginator', paginated_collection: @offices %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end row -->
