<div class="topbar">
  <div class="topbar-left	d-none d-lg-block">
    <div class="text-center">
      <% if current_user.logged.present? %>
        <a href="/admin" class="logo">
          <%= image_tag Entity.find_by_id(current_user.logged).logo.url, height:"60", alt:"logo" %>
        </a>
      <% else %>
        <a href="/admin" class="logo">
          <%= image_tag "logo_w3.svg", height:"20", alt:"logo" %>
        </a>
      <% end %>
    </div>
  </div>
  <nav class="navbar-custom">
    <ul class="list-inline float-right mb-0">
      <%= render '/admin/shared/search' %>
      <li class="list-inline-item dropdown notification-list">
        <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#"
					role="button" aria-haspopup="false" aria-expanded="false">
          <% if current_user.avatar.present? %>
            <%= image_tag current_user.avatar.url, alt:"user", class:"rounded-circle" %>
          <% else %>
            <%= image_tag "user-1.jpg", alt:"user", class:"rounded-circle" %>
          <% end %>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
          <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
          <a class="dropdown-item" href="#"><span class="badge badge-success mt-1 float-right">5</span><i
							class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>
          <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock
            screen</a>
          <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
            <i class="mdi mdi-logout m-r-5 text-muted"></i> Sair
          <% end %>
        </div>
      </li>
    </ul>
    <ul class="list-inline menu-left mb-0">
      <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
          <i class="ion-navicon"></i>
        </button>
      </li>
    </ul>
    <div class="clearfix"></div>
  </nav>
</div>
